[versions]
kotest = "5.9.1"
klang = "0.0.0"
jna = "5.14.0"
kotlin = "2.0.0"
wgpu = "v0.19.3.1"
compose = "1.6.11"
coroutines = "1.8.1"
korge = "6.0.0"
download = "5.6.0"
agp = "8.5.1"
jreleaser = "1.13.1"

[libraries]
kotest-core = { module = "io.kotest:kotest-framework-engine", version.ref = "kotest" }
kotest-assertions = { module = "io.kotest:kotest-assertions-core", version.ref = "kotest" }
jna = { module = "net.java.dev.jna:jna", version.ref = "jna" }
jnaPlatform = { module = "net.java.dev.jna:jna-platform", version.ref = "jna" }
coroutines = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
kotest-runner-junit5 = { module = "io.kotest:kotest-runner-junit5", version.ref = "kotest" }
download = { module = "de.undercouch.download:de.undercouch.download.gradle.plugin", version.ref = "download" }
kotlin-multiplatform = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
android-library = { module = "com.android.library:com.android.library.gradle.plugin", version.ref = "agp" }
jreleaser-plugin = { module = "org.jreleaser:org.jreleaser.gradle.plugin", version.ref = "jreleaser" }
korlibs-image = { module = "com.soywiz:korlibs-image", version.ref = "korge" }


[plugins]
compose-compiler = { id = "org.jetbrains.kotlin.plugin.compose", version.ref = "kotlin" }
klang = { id = "io.ygdrasil.klang-plugin", version.ref = "klang" }
kotlinJvm = { id = "org.jetbrains.kotlin.jvm" }
compose = { id = "org.jetbrains.compose", version.ref = "compose" }
kotest = { id = "io.kotest.multiplatform", version.ref = "kotest" }
download = { id = "de.undercouch.download", version.ref = "download" }
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
android-library = { id = "com.android.library", version.ref = "agp" }



[bundles]
kotest = ["kotest-core", "kotest-assertions"]
korlibs = ["korlibs-image"]