[versions]
kotest = "5.9.0"
klang = "0.0.0"
jna = "5.13.0"
kotlin = "2.0.0"
wgpu = "v0.19.3.1"
compose = "1.6.10"
coroutines = "1.8.0"
shapeshift = "0.8.0"
korge = "5.4.0"


[libraries]
kotest-core = { module = "io.kotest:kotest-framework-engine", version.ref = "kotest" }
kotest-assertions = { module = "io.kotest:kotest-assertions-core", version.ref = "kotest" }
jna = { module = "net.java.dev.jna:jna", version.ref = "jna" }
jnaPlatform = { module = "net.java.dev.jna:jna-platform", version.ref = "jna" }
coroutines = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
shapeshift = { module = "dev.krud:shapeshift", version.ref = "shapeshift" }
korge-foundation = { module = "com.soywiz.korge:korge-foundation", version.ref = "korge" }
korge-core = { module = "com.soywiz.korge:korge-core", version.ref = "korge" }

[plugins]
compose-compiler = { id = "org.jetbrains.kotlin.plugin.compose", version.ref = "kotlin" }
klang = { id = "io.ygdrasil.klang-plugin", version.ref = "klang" }
kotlinMultiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
kotlinJvm = { id = "org.jetbrains.kotlin.jvm" }
compose = { id = "org.jetbrains.compose", version.ref = "compose" }
kotest = { id = "io.kotest.multiplatform", version.ref = "kotest" }



[bundles]
kotest = ["kotest-core", "kotest-assertions"]