name: Tests

on:
  push:
    branches: [ main, 'release/**', 'feature/**'  ]
  pull_request:
    branches: [ main, 'release/**', 'feature/**'  ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-14, ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: install dependencies
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt install -y libglfw3-dev
      - name: set llvm Path On macos
        if: matrix.os == 'macos-14'
        run: echo "LIBCLANG_PATH=/Applications/Xcode_15.4.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr" >> $GITHUB_ENV
      - name: set llvm Path On windows
        if: matrix.os == 'windows-latest'
        run: echo "LIBCLANG_PATH=\"C:\Program Files\LLVM\"" >> $GITHUB_ENV
      - name: print architecture
        run: uname -m
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 22
          cache: 'gradle'
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Build, test & Analyse
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          echo "clang path :"
          echo $LIBCLANG_PATH
          gradle wrapper
          ./gradlew fetch-native-dependencies build check --stacktrace
      - name: package
        run: ./gradlew assemble --stacktrace
      - name: Install web drivers
        if: matrix.os == 'windows-latest'
        run: mvn -B install -D skipTests --no-transfer-progress -f ./wgpu4k-e2e/pom.xml
      - name: Run jvm e2e tests
        if: matrix.os == 'ubuntu-latest'
        uses: coactions/setup-xvfb@v1
        with:
          run: |
            {
             ./gradlew :wgpu4k-e2e:e2eJvmTest --stacktrace --info || echo '::warning::Previous command failed'
            } 2>&1 | sed 's/^::error::/::warning::/g'
        continue-on-error: true
      - name: Run all e2e tests
        if: matrix.os != 'ubuntu-latest'
        run: |
          {
           ./gradlew :wgpu4k-e2e:e2eTest --stacktrace --info || echo '::warning::Previous command failed'
          } 2>&1 | sed 's/^::error::/::warning::/g'
        continue-on-error: true

      - name: Bundle chromium screenshot
        uses: vimtor/action-zip@v1.2
        with:
          files: ./wgpu4k-e2e/js-chromium/
          recursive: false
          dest: js-chromium-${{ runner.os }}-screenshots.zip

      - name: Bundle jvm screenshot
        uses: vimtor/action-zip@v1.2
        with:
          files: ./wgpu4k-e2e/jvm/
          recursive: false
          dest: jvm-${{ runner.os }}-screenshots.zip

      - name: Upload the build reports
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}-artifacts
          path: |
            jvm-${{ runner.os }}-screenshots.zip
            js-chromium-${{ runner.os }}-screenshots.zip